# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

/UpgradeLog.htm
/udpTest/udpTest.vcxproj.filters
/udpTest/udpTest.vcxproj
/udpTest/Debug/udpTest.log
/test/test.vcxproj.filters
/test/test.vcxproj
/test/Debug/test.log
/ipch/piggyiocpserver-a32571ac/piggyiocpserver-7e1b44ce.ipch
/IOCPserver.VC.db
/IOCPserver.v12.suo
/IOCPserver.sln
/IOCPserver.sdf
/IOCPserver/IOCPserver.vcxproj.filters
/IOCPserver/IOCPserver.vcxproj
/IOCPserver/Debug/IOCPserver.log
/IOCPModel/IOCPModel.vcxproj.filters
/IOCPModel/IOCPModel.vcxproj
/.vs/IOCPserver/v14/.suo
